<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .checked {
               color: orange;
            }
        </style>
    <title>Tarefas</title>

</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">VS Tarefas</h5>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
              <h2>Adicionar Nova Tarefa</h2>
              <form #cadastro="ngForm" (submit)="salvar()">
                <div class="form-group">
                    <label for="titulo">Titulo</label>
                    <input type="text" name="titulo" [(ngModel)]="titulo" class="form-control" id="titulo" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label><br>
                    <textarea id="descricao" name="descricao" [(ngModel)]="descricao" cols="70" rows="5"></textarea>
                </div>
                <div class="form-group">
                    <label for="titulo">Data</label>
                    <input type="text" name="data" [(ngModel)]="data" class="form-control" id="data" required>
                    <button type="submit" class="btn btn-primary" [disabled]="!cadastro.valid">Salvar</button>
                    <button type="reset" class="btn btn-secondary" (click)="cancelar()" >Cancelar</button>
                </div>
            </form>
            </div>
            <div class="col-sm">
                <div class="card" *ngFor="let tarefan of tarefasNC">
                    <div class="card-header">
                        Não Concluidas
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{tarefan.titulo}}</h5>
                        <small><strong>{{tarefan.data}}</strong></small>
                        <p class="card-text">{{tarefan.descricao}}</p>
                        <a href="#" class="btn btn-primary" (click)="editar(tarefan)">Editar</a>
                        <a href="#" class="btn btn-danger" (click)="excluirNC(tarefan)">Excluir</a>
                        <a href="#" class="btn btn-danger" (click)="concluir(tarefan)">Concluir</a>
                    </div>
                </div>
                <div>
                    <br><br>
                </div>
                <div style="color:saddlebrown;" class="card"  *ngFor="let tarefac of tarefasC">
                    <div class="card-header">
                      Concluidas
                    </div>
                    <div class="card-body">
                      <h3>Tarefas Concluidas</h3>
                      <h5 class="card-title">{{tarefac.titulo}}</h5>
                      <small><strong>{{tarefac.data}}</strong></small>
                      <p class="card-text">{{tarefac.descricao}}</p>
                      <a href="#" class="btn btn-danger" (click)="excluirC(tarefac)">Excluir</a>
                    </div>
                </div>
          </div>
        </div>
      </div>
  </body>
</html>